body {
  background-color: hsl(218, 23%, 16%);
  /* width: 100%; */
  height: auto;
  text-align: center;
  margin: 0;
  max-width: 100%
}

@media screen and (max-width: 375px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

h1 {
  font-size: 0.75rem;
  color: hsl(150, 100%, 66%);
  font-family: Manrope;
  font-weight: 800;
  position: relative;
  top: 1.5625rem;
  letter-spacing: 0.3rem;
}

p {
  font-size: 1.5rem;
  font-weight: 800;
  position: relative;
  top: 0.75rem;
  color: white;
  font-family: Manrope;
  letter-spacing: 0.1rem;
  padding: 0 0.9375rem 0 0.9375rem;
}

button {
  background-color: hsl(150, 100%, 66%);
  border: none;
  color: white;
  padding: 1.25rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  margin: auto;
  text-align: center !important;;
}

.attribution {
  position: relative;
  top: 24rem;
  margin: auto;
  font-size: 1rem;
}

.main-body {
  border-radius: 0.9375rem;
  position: relative;
  top: 12rem;
  margin: auto;
  width: 30rem;
  height: 17rem;
  background-color: hsl(217, 19%, 24%);
}

.button-section {
  position: relative;
  top: 10rem;
  height: 3.125rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn:hover{
    box-shadow: 0px 00px 10px 5px hsl(150, 100%, 66%);
}

.img:hover {
    box-shadow: 0px 00px 10px 5px hsl(150, 100%, 66%);
}

.breaker {
  float: left;
}
